.header{
    background-color: #1C2B35;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 140px;
}

.nav-link a{
    color: #ffffff;
    font-weight: 400;
    font-size: 17;
    text-decoration: none;
    margin-left: 36px;
}

.nav-link a:hover{
    color: orange;
}